a {
  color: #2f5e70;
}

a:hover{
  text-decoration: none;
}

a:visited {
  color: #2f5e70;
  text-align: left;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

h5{
  color: #2f5e70;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%
}

tbody > tr:nth-child(odd){
  background-color: #eee;
}  
  
tbody > tr:hover{
  color: white;
  background-color: #2f5e708e;
}

td, th {
  padding-left: 1em;
  width: 24%;
}
  
thead{
  color: #2f5e70;
  font-size: .75em;
  text-align: left;
}

thead:hover{
  color: #2f5e70;
  font-size: 1em;
  text-align: left;
}

.emphasis {
  color: #2f5e70;
  font-style: italic;
}

.wrapper {
  text-align: justify;
}

@media only screen and (max-width: 768px) {  
  .extra-info {
    display: none;
  }
  
  #player-info > table{
    background-color: #2f5e70;
  }
  
  .wrapper {
    padding: 2%;
    width: 96%;
  }
}

@media only screen and (min-width: 769px) {    
  .wrapper {
    margin: 0 auto;
    width: 66%;
  }
}
