a {
  color: #2f5e70;
}

a:hover{
  text-decoration: none;
}

a:visited {
  color: #2f5e70;
  text-align: left;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-bottom: 2px solid #eee;
  border-radius: 4px;
  font-size: 14px;
}

button:hover {
  border-bottom: 2px solid #2f5e70;
  cursor: pointer;
}

h5{
  color: #2f5e70;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%
}

tbody > tr:nth-child(odd){
  background-color: #eee;
}  
  
tbody > tr:hover{
  color: white;
  cursor: pointer;
  background-color: #2f5e708e;
}

td, th {
  padding-left: 10px;
  padding-right: 10px;
  width: 24%;
}
  
thead{
  color: #2f5e70;
  font-size: .75em;
  text-align: left;
}

.emphasis {
  color: #2f5e70;
  font-style: italic;
}

#pagination{
  text-align: center;
}

.selected-page {
  background-color: #2f5e70;
  border: 2px solid #2f5e70;
  color: white;
}

.small-emphasis {
  color: #2f5e70;
  font-size: .85em;
  font-style: italic;
}

.wrapper {
  text-align: justify;
}

@media only screen and (max-width: 768px) {  
  button {
    margin-left: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }

  .extra-info {
    display: none;
  }
  
  #player-info > table{
    background-color: #2f5e70;
  }
  
  .wrapper {
    padding-left: 4%;
    padding-right: 4%;
    width: 92%;
  }
}

@media only screen and (min-width: 769px) {
  button {
    margin-left: 5px;
    padding-bottom: 2px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2px;
  }
  .right-border {
    border-right: 1px solid;
    padding-right: 10px;
  }

  .wrapper {
    margin: 0 auto;
    width: 66%;
  }
}
